@import './colors.scss';

:root {
  --color-page-background: #{$bg-grey};
  --color-text: #{$font-color};
  --sidebar-bg-color: #{$white};
  --footer-bg-color: #{$white-footer-bg};
  --logo-color: #{$black};
  --navbar-bg-color: #{$white-sidebar-bg};
  --primary: #{$primary-green};
  --card-color: #{$white};
  --menu-selected: #{$light-grey};
}

.dark {
  --color-page-background: #{$black};
  --color-text: #{$bg-grey};
  --sidebar-bg-color: #{$dark-footer-bg};
  --footer-bg-color: #{$dark-footer-bg};
  --logo-color: #{$white};
  --navbar-bg-color: #{$primary-green};
  --primary: #{$primary-green};
  --card-color: #{$dark-grey};
  --menu-selected: #{$dark-grey};
}

body {
  background-color: var(--color-page-background);
  color: var(--color-text);
}

aside {
  background-color: var(--sidebar-bg-color);
}

.footer {
  background-color: var(--footer-bg-color);
}

.logo {
  fill: var(--logo-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
}

a {
  color: var(--color-text);
}

.mainNavbar__appName {
  color: var(--color-text);
}

.mainNavbar {
  background-color: var(--navbar-bg-color);
  color: var(--color-text);
}

.mainSidebar {
  background-color: var(--sidebar-bg-color);
}

.sidebarMain__navItem--selected,
.sidebarMain__navItem:hover {
  box-shadow: inset 0.1875rem 0 0 var(--primary);
  background-color: #fbfbfb;
  color: var(--primary);
  text-decoration: none;
}

.waterCard,
.waterCard h5 {
  color: var(--primary);
  background-color: var(--card-color);
}
